/* SET BASE GUTTERS ============================================================================= */

$siteMargin: (
  desktop-xl:40px,
  desktop: 30px,
  tablet: 24px,
  tablet-sm: 20px,
  mobile: 20px
);

$siteGutter: (
  desktop-xl:20px,
  desktop: 30px,
  tablet: 20px,
  tablet-sm: 20px,
  mobile: 10px
);
