/* SET BASE MEDIA SIZES ============================================================================= */
$desktop-xl-min:1441px;
$desktop-max:1440px;
$desktop-min:1025px;
$tablet-max:1024px;
$tablet-min: 769px;
$tablet-sm-max:768px;
$tablet-sm-min: 376px;
$mobile-max:375px;

// Breakpoint Names
$desktop-xl: 'desktop-xl';
$desktop: 'desktop';
$tablet: 'tablet';
$tablet-small: 'tablet-sm';
$mobile: 'mobile';
