.registration__nav {
  display:flex;
  position: relative;
}

.registration__nav ul::-webkit-scrollbar,
.registration__nav ul::-webkit-scrollbar{
  width: 0 !important;
  display: none;
}

.registration__nav ul {
  display:flex;
  flex-grow:1;
  align-items: center;
  justify-content: space-between;
  @include rem2px('font-size', 1.8);
  border-bottom: 1px solid $silver;
  padding-bottom:20px;

  @media (max-width: $tablet-sm-max) {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: auto;
  }
}

.registration__nav:after {
  @media (max-width: $tablet-sm-max) {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    background: rgb(244,244,244);
    background: linear-gradient(90deg, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 100%);
    right: 0;
    top: 0;
  }
}

.registration__nav ul li {
  @media (max-width: $tablet-sm-max) {
    @include rem2px('font-size', 1.6);
    line-height: 28px;
    flex-shrink: 0;
    padding: 0 10px;
  }
}

.registration__nav ul li:first-child {
  @media (max-width: $tablet-sm-max) {
    padding-left: 0;
  }
}

.registration__nav ul li.active {
  color:$carnation;
  position:relative;
}
.registration__nav ul li.active:after {
  background:$carnation;
  content:"";
  height:3px;
  width:100%;
  left:0;
  bottom:-22px;
  position:absolute;
}
