.form__section {
  flex-direction: column;
  margin-bottom: 50px;
}

.form__section .field:last-child {
  margin-bottom: 0;
}

.form__section:nth-of-type(3) {
  @media (min-width: $tablet-min) {
    grid-row-start: 2;
    grid-row: 2/span 2;
  }
}

.form__section:nth-of-type(4) {
  @media (min-width: $tablet-min) {
    grid-row-start: 2;
  }
}

.form__section .field--wrapper {
  margin-top: 38px;
}


.form__section .field--wrapper .form__validation-error {
  bottom: -5px;
}

.form__section .field--wrapper .field--radio {
  @media (max-width: $tablet-sm-max) {
    grid-column: 1/span 3;
    margin-bottom: 20px;
  }
}

.form__section .field--wrapper .field--radio:last-child {
  margin-bottom: 0;
}
.js .form.form--sections .delivery--wrapper {
  opacity:0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  visibility:hidden;
  margin-bottom:0;
  height:0;
}
.js .form.form--sections .delivery--wrapper.show {
  display:block;
  opacity:1;
  visibility: initial;
  height:auto;
}
