.registration--user-details form {
  display:inline-grid;
  padding-top:90px;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-column-gap: map-get($siteMargin, "desktop-xl");

  @include breakpoint($desktop) {
    grid-column-gap: map-get($siteMargin, "desktop");
  }
  @include breakpoint($tablet) {
    grid-template-columns: repeat(8, [col-start] 1fr);
    grid-column-gap: map-get($siteMargin, "tablet");
  }
  @include breakpoint($tablet-small) {
    grid-template-columns: repeat(8, [col-start] 1fr);
    grid-column-gap: map-get($siteMargin, "tablet-sm");
  }
  @include breakpoint($mobile) {
    grid-template-columns: repeat(8, [col-start] 1fr);
    grid-column-gap: map-get($siteMargin, "mobile");
  }
}

.registration--user-details .field--wrapper {
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registration--user-details .field--wrapper .section-title {
  width: 100%;
  display: flex;
}

.registration--user-details .field--wrapper .field {
  margin-bottom: 40px;
}

.registration--user-details .field--upload {
  grid-row: span 2;
  margin-bottom: 0;
}

.admin-wrapper .registration--user-details .field--upload {
  height: 200px;
}

.field--upload label {
  border-radius:5px;
  background: rgba($white, 0.5);
  border: 1px solid $cloudburst;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  text-transform: none;
  letter-spacing: 0;
  color: $cloudburst;
  cursor:pointer;
}

.field--upload .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.6;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}

.upload-input-name {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 20px;
  align-items: flex-end;
}

.js .delivery {
  display:none;
}
.js .delivery.show {
  display:block;
}
